deepspeed==0.16.9
editdistance==0.8.1
gradio==5.33.0
jiwer==3.1.0
librosa==0.11.0
modelscope_studio==1.4.0
more_itertools==10.7.0
numpy==2.2.6
opencc==1.1.9
pandas==2.2.3
PyYAML==6.0.2
PyYAML==6.0.2
regex==2024.11.6
Requests==2.32.3
sacrebleu==2.5.1
scikit_learn==1.6.1
soundfile==0.13.1
torch==2.6.0
torchaudio==2.6.0+cu124
tqdm==4.67.1
transformers==4.52.4
zhconv==1.4.3
